@charset "utf-8";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

@import "bootstrap";
@import "angular-csp";
@import "bootstrap-datetimepicker";

.logo {
  font-family: 'Kranky', cursive;
}
.bootstrap-datetimepicker-widget {
  ul {
    padding: 0;
  }
  .picker-switch {
    min-height: 20px;
  }
}
