<!Doctype html><html ng-app="eventer"><head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=10">
<link rel="stylesheet" href="styles.css" media="all" type="text/css">
<script src="angular.min.js"></script>
<script src="jquery-2.0.3.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="moment.min.js"></script>
<script src="bootstrap-datetimepicker.min.js"></script>
<script src="app.js"></script>
<link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet' type='text/css'>
</head><body>

<section class="jumbotron">
  <section ng-controller="greetingCtrl" class="container">
    <h1 class="logo">{{greeting.title}}</h1>
    <p class="description">{{greeting.lead}}</p>
  </section>
</section>

<section ng-controller="addEventCtrl" class="container">
  <h1 class="h3">Create Event</h1>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="input" class="form-control" id="inputTitle" placeholder="ex: Birthday Party">
      </div>
    </div>
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">Details</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" placeholder="Add more info"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">When</label>
      <div class="col-sm-10">
        <section class="spacing" ng-repeat="candidateDate in candidateDates">
          <div class="input-group date datetimepicker">
            <input type='text' class="form-control" ng-model="candidateDate.value">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </section>
        <script type="text/javascript">
        $(function() {
            $('.datetimepicker').datetimepicker();
        });
        </script>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 text-right">
        <button type="button" class="btn btn-default" ng-click="addCandidateDate()"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 text-center">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</section>

</body></html>
