<!Doctype html><html ng-app="eventer"><head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=10">
<link rel="stylesheet" href="styles.css" media="all" type="text/css">
<script src="angular.min.js"></script>
<script src="jquery-2.0.3.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="moment.min.js"></script>
<script src="bootstrap-datetimepicker.min.js"></script>
<script src="datepicker.js"></script>
<script src="app.js"></script>
<link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet' type='text/css'>
</head><body>

<section class="jumbotron">
  <section ng-controller="greetingCtrl" class="container">
    <h1 class="logo">{{greeting.title}}</h1>
    <p class="description">{{greeting.lead}}</p>
  </section>
</section>

<section ng-controller="addEventCtrl" class="container">
  <h1 class="h3">Create Event</h1>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="input" class="form-control" id="inputTitle" placeholder="ex: Birthday Party">
      </div>
    </div>
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">Details</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" placeholder="Add more info"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">When</label>
      <div class="col-sm-10">
        <section class="spacing" ng-repeat="candidateDate in candidateDates">
          <div class="input-group date datetimepicker">
            <input type='text' class="form-control" ng-model="candidateDate.value">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </section>
        <script type="text/javascript">
        $(function() {
            $('.datetimepicker').datetimepicker();
        });
        </script>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 text-right">
        <button type="button" class="btn btn-default" ng-click="addCandidateDate()"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 text-center">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</section>

<div ng-controller="DatepickerDemoCtrl">
  <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

  <h4>Inline</h4>
  <div class="well well-small" ng-model="dt" style="display:inline-block;">
    <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
  </div>

  <h4>Popup</h4>
  <div class="form-horizontal">
    <p>
      <input type="text" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
    </p>
    <p><i>Format options:</i> <select ng-model="format" ng-options="f for f in formats"><option></option></select></p>
  </div>

  <hr />
  <button class="btn btn-small btn-inverse" ng-click="today()">Today</button>
  <button class="btn btn-small btn-inverse" ng-click="dt = '2009-08-24'">2009-08-24</button>
  <button class="btn btn-small btn-success" ng-click="toggleWeeks()" tooltip="For inline datepicker">Toggle Weeks</button>
  <button class="btn btn-small btn-danger" ng-click="clear()">Clear</button>
  <button class="btn btn-small" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>

</body></html>
